<!DOCTYPE html>
<html>
    <head>
        <title>技术记录本查看</title>
        <meta charset="UTF-8">
            <style type="text/css">
                html {
                    -webkit-text-size-adjust: none;
                }
            table{
                font-size: 10px;
                font-weight:500;
            }
            table td{
                font-size: 10px;
                font-weight:500;
                text-align: center;
            }
            table td.input-content {
                color: blue;
                border-color: black;
                padding-left: 3px;
                text-align: left;
                word-break: break-all;
                
            }
            
            table td.history-content {
                background-color: #ec971f;
            }
            
            .oneLineDiv {
                width:99%;
                margin-left: 0.5%;margin-right: 0.5%;
                position: relative;
            }
            #oilDiv table {
                width:100%;margin-top: 3px;line-height: 1;font-size: 10px;border:none;
            }
            #oilDiv table td{
                border: 1px solid black;
            }
            
            
            table.faultReportTable tr{
                height:5px;
            }
            
            body {
                background-color: #fff;
            }
            
            .white-font{color: white;font-size: 5px;}
            
            .fault-cancel {
                position: absolute;
                top: 30px;
                height: 100%;
            }
            
            .release-td {
                position: relative;
            }
            .release-cancel {
                position: absolute;
                top: 0px;
                height: 100%;
            }
            </style>
			{% include "appOrder.html" %}
    </head>
    <body>
        <div id="releaseDiv" class="oneLineDiv">
            <table class="" style="height:130px;min-height:130px;width:100%" border="1" >
                <tr >
                    <td rowspan="5" style="width: 24%;">
                        <div class="col-lg-12" align="center">
                            <img src="static/adp/images/maintenancemgt/ac_logo.jpg" style="width:40px;height:47px;"/>
                        </div>
                        <div style="font-size: 20px;font-weight:900;letter-spacing:1px;" class="col-lg-12" align="center">
                            Technical Log Book
                        </div>
                        <div style="font-size: 20px;font-weight:900;letter-spacing:1px;" class="col-lg-12" align="center">
                            技术记录本
                        </div>
                    </td>
                    <td style="border: none;width:0.3%"></td>
                    <td style="width: 16.7%;">
                        航前
						{% if tlb4.status == 99 or tlb4.status == 50 %}
							{% if tlb1.checkType == 'PRE_FLIGHT' %}
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						{% endif %}
                        
                        /
                        过站检查
						{% if tlb4.status == 99 or tlb4.status == 50 %}
							{% if tlb1.checkType == 'TRANSIT' %}
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							{% endif %}
						{% endif %}
                        
                    </td>
                    <td style="width: 16.7%;">过站检查</td>
                    <td style="width: 16.7%;">过站检查</td>
                    <td style="border: none;width:0.3%"></td>
                    <td style="width: 24.4%;">维护检查</td>
                </tr>
                <tr>
                    <td style="border: none;"></td>
                    <td>
                        <div>STATION ID.NO.SIGNATURE</div>
                        <div>航站 执照号 签名</div>
                    </td>
                    <td>
                        <div>STATION ID.NO.SIGNATURE</div>
                        <div>航站 执照号 签名</div>
                    </td>
                    <td>
                        <div>STATION ID.NO.SIGNATURE</div>
                        <div>航站 执照号 签名</div>
                    </td>
                    <td style="border: none;"></td>
                    <td>
                        <div>STATION MAINTENANCE CHECK RERFORMED</div>
                        <div>航站 完成的维修级别</div>
                    </td>
                </tr>
                <tr>
                    <td style="border: none;"></td>
                    <td style="height: 32px; " class="release-td">
                        <div class="col-16-4">
						{% if tlb1.status == 99 or tlb1.status == 50 %}
                            {{tlb1.station}}
                        {% endif %}
						
						</div>
                        <div class="col-16-7" style="word-break: break-all;">{{tlb1.releaseIdNo}}</div>
                        <div class="col-16-5">
                            {% if not tlb1.releaseSignPictureBase64 %}
                            {{tlb1.releaseSign}}
                            {% endif %}
                            
                            {% if tlb1.releaseSignPictureBase64 %}
                            <img style="height: 35px;max-width: 68px;" src="data:image/png;base64,{{tlb1.releaseSignPictureBase64}}">
                                {% endif %}
                                </div>
                        {% if tlb1.isReleaseCancelled == 1 %}
                        <div class="release-cancel">
                            <img src="static/adp/images/maintenancemgt/release-cancelled.png" width="100%;" height="100%">
                                </div>
                        {% endif %}
                    </td>
                    <td class="release-td">
                        <div class="col-16-4">
							{% if tlb2.status == 99 or tlb2.status == 50 %}
								{{tlb2.station}}
							{% endif %}
						</div>
                        <div class="col-16-7" style="word-break: break-all;">{{tlb2.releaseIdNo}}</div>
                        <div class="col-16-5">
                            {% if not tlb2.releaseSignPictureBase64 %}
                            {{tlb2.releaseSign}}
                            {% endif %}
                            
                            {% if tlb2.releaseSignPictureBase64 %}
                            <img style="height: 35px;max-width: 68px;" src="data:image/png;base64,{{tlb2.releaseSignPictureBase64}}">
                                {% endif %}
                                </div>
                        {% if tlb2.isReleaseCancelled == 1 %}
                        <div class="release-cancel">
                            <img src="static/adp/images/maintenancemgt/release-cancelled.png" width="100%;" height="100%">
                                </div>
                        {% endif %}
                    </td>
                    <td class="release-td">
                        <div class="col-16-4">
							{% if tlb3.status == 99 or tlb3.status == 50 %}
								{{tlb3.station}}
							{% endif %}
						</div>
                        <div class="col-16-7" style="word-break: break-all;">{{tlb3.releaseIdNo}}</div>
                        <div class="col-16-5">
                            {% if not tlb3.releaseSignPictureBase64 %}
                            {{tlb3.releaseSign}}
                            {% endif %}
                            
                            {% if tlb3.releaseSignPictureBase64 %}
                            <img style="height: 35px;max-width: 68px;" src="data:image/png;base64,{{tlb3.releaseSignPictureBase64}}">
                                {% endif %}
                                </div>
                        {% if tlb3.isReleaseCancelled == 1 %}
                        <div class="release-cancel">
                            <img src="static/adp/images/maintenancemgt/release-cancelled.png" width="100%;" height="100%">
                                </div>
                        {% endif %}
                    </td>
                    <td style="border: none;"></td>
                    <td>&nbsp;
						{% if tlb4.status == 99 or tlb4.status == 50 %}
							{{tlb4.station}}
						{% endif %}
                        {% if tlb4.checkType == 'PRE_FLIGHT' %}
                        PF
                        {% elif tlb4.checkType == 'TRANSIT' %}
                        TR
                        {% elif tlb4.checkType == 'AF_FLIGHT' %}
                        AF
                        {% elif tlb4.checkType == 'DAILY_CHECK' %}
                        日检
                        {% elif tlb4.checkType == 'WEEK_CHECK' %}
                        周检
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="border: none;"></td>
                    <td>
                        <div>DATE ACCEPTANCE CAPT.SIGN</div>
                        <div>飞机接收日期  机长签名</div>
                    </td>
                    <td>
                        <div>DATE ACCEPTANCE CAPT.SIGN</div>
                        <div>飞机接收日期  机长签名</div>
                    </td>
                    <td>
                        <div>DATE ACCEPTANCE CAPT.SIGN</div>
                        <div>飞机接收日期  机长签名</div>
                    </td>
                    <td style="border: none;"></td>
                    <td>
                        <div>DATE ID.NO.SIGNATURE</div>
                        <div>日期 执照号 签名</div>
                    </td>
                </tr>
                <tr>
                    <td style="border: none;"></td>
                    <td style="height: 32px; ">&nbsp;
                        <div class="col-16-7">
                            {% if tlb1.captSignVo.signDay %}
                            {{tlb1.captSignVo.signDay}}
                            {% endif %}
                        </div>
                        <div class="col-16-8">
                            {% if tlb1.captSignVo.signPictureBase64 %}
                            <img style="height: 35px;max-width: 68px;" src="data:image/png;base64,{{tlb1.captSignVo.signPictureBase64}}">
                                {% endif %}
                                </div>
                    </td>
                    <td>
                        <div class="col-16-7">
                            {% if tlb2.captSignVo.signDay %}
                            {{tlb2.captSignVo.signDay}}
                            {% endif %}
                        </div>
                        <div class="col-16-8">
                            {% if tlb2.captSignVo.signPictureBase64 %}
                            <img style="height: 35px;max-width: 68px;" src="data:image/png;base64,{{tlb2.captSignVo.signPictureBase64}}">
                                {% endif %}
                                </div>
                    </td>
                    <td>
                        <div class="col-16-7">
                            {% if tlb3.captSignVo.signDay %}
                            {{tlb3.captSignVo.signDay}}
                            {% endif %}
                        </div>
                        <div class="col-16-8">
                            {% if tlb3.captSignVo.signPictureBase64 %}
                            <img style="height: 35px;max-width: 68px;" src="data:image/png;base64,{{tlb3.captSignVo.signPictureBase64}}">
                                {% endif %}
                                </div>
                    </td>
                    <td style="border: none;"></td>
                    <td>
                        <div class="col-16-5">{{tlb4.releaseDateStr}}</div>
                        <div class="col-16-7" style="word-break: break-all;">{{tlb4.releaseIdNo}}</div>
                        <div class="col-16-4">
                            {% if tlb4.releaseSignPictureBase64 %}
                            {{tlb4.releaseSign}}
                            <img style="height: 25px; max-width: 68px;" src="data:image/png;base64,{{tlb4.releaseSignPictureBase64}}">
                                {% endif %}
                                </div>
                    </td>
                </tr>
                
                
            </table>
        </div>
        
        {% for tcfrv in tlbClbFaultReportVoList %}
        
        <!-- 如果是历史增加class faultReportDivHistory hidden -->
        {% if tcfrv.isHistory == 1 %}
        <div class="oneLineDiv faultReportDiv faultReportDivHistory hidden"
            fault-report-id="{{ tcfrv.pid }}" identifier="{{ tcfrv.identifier }}">
        {% else %}
        <div class="oneLineDiv faultReportDiv currentFaultReportDiv"
        fault-report-id="{{ tcfrv.pid }}" identifier="{{ tcfrv.identifier }}">

        {% endif %}
        <!-- 如果是历史增加class faultReportDivHistory hidden -->

            <table class="faultReportTable" style="width:100%;margin-top: 3px;" border="1" >
                <!-- 历史 start -->
                {% if tcfrv.isHistory == 1 %}
                <tr>
                    <td colspan="2" >
                        {% if tcfrv.modifyItemSign %}
                            {% if tcfrv.modifyItemSign == 1 %}
                                <div class="col-16-8">
                                    {{tcfrv.modifyItemSign.employeeNo}}
                                    {{tcfrv.modifyItemSign.employeeName}}
                                </div>
                                <div class="col-16-8">
                                    {{tcfrv.modifyItemSign.createDatetimeStr}}
                                </div>
                            {% elif tcfrv.modifyItemSign == 2 %}
                                <div>
                                    <div class="">
                                        <img style="height:35px;float: left;" class="center-block"
                                             src="data:image/png;base64,{{tcfrv.modifyItemSign.signPictureBase64}}"/>
                                    </div>
                                </div>
                            {% elif tcfrv.modifyItemSign == 3 %}
                                <div class="col-16-8">
                                    <div class="col-16-8">
                                        {{tcfrv.modifyItemSign.employeeNo}}
                                    </div>
                                    <div class="col-16-8">
                                        <img style="height: 35px" class="center-block"
                                             src="data:image/png;base64,{{tcfrv.modifyItemSign.signPictureBase64}}"/>
                                    </div>
                                </div>
                                <div class="col-16-8">
                                    {{tcfrv.modifyItemSign.createDatetimeStr}}
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="max-width:1px;width:1px;"></td>
                    <td  class="{{ tcfrv.reportUpdate }}">
                        <strong>
                            {% if tcfrv.reportUpdate %}
                            已修改
                            {% endif %}
                        </strong>
                    </td>
                    <td  class="{{ tcfrv.actionUpdate }}">
                        <strong>
                            {% if tcfrv.actionUpdate %}
                            已修改
                            {% endif %}
                        </strong>
                    </td>
                    <td  class="{{ tcfrv.partUpdate }}" colspan="2" >
                        <strong>
                            {% if tcfrv.partUpdate %}
                            已修改
                            {% endif %}
                        </strong>
                    </td>
                </tr>
                {% endif %}
                <!-- 历史 end -->
                <tr>
            <td rowspan="5" style="width: 12%;">
            <span style="float: left;" >TLB-NO.</span>
            <span style="float: right;" >技术记录本号</span>
            </td>
            <td rowspan="5" style="width: 12.7%; text-align: center;" class="input-content" >
            <span  style="color: #d9534f;font-weight: bold;">{{ tcfrv.identifier }}</span>
            </td>
            <td style="max-width:1px;width:1px;"></td>
            <td rowspan="5" class=""
            style="width:width: 22.6%;text-align: left;">
            <strong>REP</strong>  故障报告
            </td>
            <td rowspan="5" class="$"
            style="width: 22.6%;text-align: left;">
            <strong>ACT</strong>  处理措施
            </td>
            <td rowspan="5" class="$"
            style="width: 12.9%;line-height: 1.2;">
            <span style="float: left;text-align: left;" >
            <div>SEE NOTE</div>
            <div>COVER INSIDE</div>
            </span>
            <span style="float: right;" >见封里注解</span>
            </td>
            <td rowspan="5"
            style="width: 16.6%;" class="input-content" >
            <div class="col-16-8"> {{tcfrv.seeNote}}</div>
            {% if tcfrv.attTo%}
            <strong style="color: black;">ATT TO</strong><span >  {{tcfrv.attTo}}</span>
            {% endif %}
            </td>
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            
            <tr>
            
            <td rowspan="6">
            <span style="float: left;" >A/C-REG</span>
            <span style="float: right;" >飞机号</span>
            </td>
            <td rowspan="6"  class="input-content" >
            {{tcfrv.aircraftNo}}
            </td>
            <td style="max-width:1px;width:1px;"></td>
            <td rowspan="30"  class="input-content" >
            {% if tcfrv.faultReport == 'NIL'%}
            <div style="font-size: 30px;font-weight:500;text-align: center;color: black;" >NIL</div>
            {% else %}
            <textarea cols="40" rows="{{tcfrv.faultReportRows}}" style="overflow: visible;width: 100%;border:none;display: inline-table;">{{tcfrv.faultReport}}</textarea>
            {% endif %}
            </td>
            <td rowspan="30" data-fault-report-id="{{tcfrv.pid}}"  class="input-content td-fault-report-handle-action" >
            <textarea cols="40" rows="{{tcfrv.handleActionRows}}" style="overflow: visible;width: 100%;border:none;display: inline-table;">
            {{tcfrv.handleAction}}
            </textarea>
            </td>
            <td rowspan="5" class=""
            style="line-height: 1.2;">
            <span style="float: left;text-align: left;" >
            <div>STATION</div>
            <div>MAINT.lEVEL</div>
            </span>
            <span style="float: right;" >
            <div>航站</div>
            <div>维修级别</div>
            </span>
            </td>
            <td rowspan="5" style="" class="input-content">
            {% if tcfrv.handleAction %}
            <span>{{tcfrv.station}}</span>
            {% if tcfrv.checkType == 'PRE_FLIGHT'%}
            PF
            {% elif tcfrv.checkType == 'TRANSIT' %}
            TR
            {% elif tcfrv.checkType == 'AF_FLIGHT' %}
            AF
            {% elif tcfrv.checkType == 'DAILY_CHECK' %}
            日检
            {% elif tcfrv.checkType == 'WEEK_CHECK' %}
            周检
            {% endif %}
            {% endif %}
            </td>
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr>
            
            <td style="max-width:1px;width:1px;"></td>
            <td rowspan="5" class=""  >
            <span style="float: left;padding:4px 0 5px;" >
            <div>DATE</div>
            </span>
            <span style="float: right;padding:4px 0 5px;" >日期</span>
            </td>
            <td rowspan="5"  class="input-content" >
            <div class="ddmmyyStyle">{{tcfrv.dateMaintenanceStr}}</div>
            </td>
            </tr>
            
            <tr>
            
            <td rowspan="6" >
            <span style="float: left;" >FLIGHT NO.</span>
            <span style="float: right;" >航班号</span>
            </td>
            <td rowspan="6"  class="input-content" >
            {{tcfrv.flightNo}}
            </td>
            <td style="max-width:1px;width:1px;"></td>
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr>
            <td style="max-width:1px;width:1px;"></td>
            <td rowspan="5" class=""
            style="line-height: 1.2;" >
            <span style="float: left;" >
            <div>ID NO./SIGN</div>
            </span>
            <span style="float: right;" >
            <div>人员编号</div>
            <div>签名</div>
            </span>
            </td>
            <td rowspan="5" class="input-content" >
            {% for itemSign in tcfrv.itemSignList %}
            {% if itemSign.signType == 1 %}
            {{itemSign.employeeNo}}
            {{itemSign.employeeName}}
            {% elif itemSign.signType == 2 %}
            <img style="height:35px;float: left;max-width: 80px" class="center-block"
            src="{{itemSign.signPictureBase64}}"/>
            {% elif itemSign.signType == 3 %}
            <div class="col-16-8">
            {{itemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="height:35px;max-width: 80px" class="center-block"
            src="{{itemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endfor %}
            </td>
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr>
            <td rowspan="6" >
            <span style="float: left;" >DATE</span>
            <span style="float: right;" >日期</span>
            </td>
            <td rowspan="6"  class="input-content" >
            <div class="ddmmyyStyle">{{tcfrv.dateLogStr}}</div>
            </td>
            <td style="max-width:1px;width:1px;"></td>
            
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr>
            <td style="max-width:1px;width:1px;"></td>
            <td rowspan="5" class="" >
            <span style="float: left;padding:4px 0 5px;" >
            <div>PART NO</div>
            </span>
            <span style="float: right;padding:4px 0 5px;" >件号</span>
            </td>
            <td rowspan="5"  class="input-content" >
            {% for part in tcfrv.partList %}
            <span style="border-bottom: 1px solid black;margin-right: 5px;">
            {{part.itemPnr}}
            {% if part.pnrOff and  part.itemPnr != part.pnrOff %}
            /{{part.pnrOff}}
            {% endif %}
            &nbsp;
            {% if forloop.last %}
            {% else %}
            /
            {% endif %}
            &nbsp;
            </span>
            {% endfor %}
            
            </td>
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr>
            <td rowspan="6" >
            <span style="float: left;" >LEG</span>
            <span style="float: right;" >航段</span>
            </td>
            <td rowspan="6"  class="input-content" >
            {{tcfrv.dep}}--{{tcfrv.arr}}
            </td>
            <td style="max-width:1px;width:1px;"></td>
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr>
            <td style="max-width:1px;width:1px;"></td>
            <td rowspan="5" class="" >
            <span style="float: left;padding:4px 0 5px;" >
            SN OFF
            </span>
            <span style="float: right;padding:4px 0 5px;" >拆下序号</span>
            </td>
            <td rowspan="5"  class="input-content" >
            {% for part in tcfrv.partList %}
            {{part.snOff}}&nbsp;&nbsp;
            {% endfor %}
            </td>
            </tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr><td style="max-width:1px;width:1px;"></td></tr>
            <tr>
            <td rowspan="2">
            <span style="float: left;" >TLB-REFER TLB</span>
            <span style="float: right;" >参照号</span>
            </td>
            <td rowspan="2"  class="input-content" >
            <span>{{tcfrv.tlbRefer}}</span>
            </td>
            <td style="max-width:1px;width:1px;"></td>
            
            </tr>
            <tr>
            <td style="max-width:1px;width:1px;"></td>
            <td  class="">
            <span style="float: left;padding:4px 0 5px;" >
            <div>SN ON</div>
            </span>
            <span style="float: right;padding:4px 0 5px;" >装上序号</span>
            </td>
            <td   class="input-content" >
            {% for part in tcfrv.partList %}
            {{part.snOn}}&nbsp;&nbsp;
            {% endfor %}
            </td>
            </tr>
            </table>
            {% if tcfrv.isCancelled == 1 %}
            <div class="fault-cancel" style="width: 47.72%;">
            <img src="./static/adp/images/maintenancemgt/cancelled.png" width="100%;" height="100%">
            </div>
            {% endif %}
            </div>
			<!-- media div start -->
            {% if tcfrv.mediaList %}
				<div style="display: block; height: 22px;">
					<a class="blue fault-media" style="right: 35px;position: absolute;" href="javascript:void(0);" data-pid="{{tcfrv.pid}}" 
					data-tpl="template_{{ forloop.counter0 }}">附件</a>
					<!-- 附件div -->
					<script type="text/html" id="template_{{ forloop.counter0 }}">
						<span class="col-lg-3 col-md-3" for="">图片：</span>
						<div class="col-lg-9 col-md-9" style="width:600px;heigth:auto;">
							{% for fm in tcfrv.mediaList %}
								{# 图片 #}
								{% if fm.mediaType == 1 %}
                                    {# 2019年5月14日10:08:10 pad端增加本地路径 mediaAbsoultePath #}
                                    {% if fm.mediaAbsoultePath %}
                                        <img class="img-responsive" alt="" src="{{ fm.mediaAbsoultePath }}{{ fm.dir }}"  style="margin-bottom:15px;">
                                    {% else %}
                                        <img class="img-responsive" alt="" src="{{ fm.downloadUrl }}"  style="margin-bottom:15px;"> <!-- localFilePath -->
                                    {% endif %}
								{% endif %}
							{% endfor %}
						</div>

						<span class="col-lg-3 col-md-3" for="">声音：</span>
						<div class="col-lg-9 col-md-9" style="margin-bottom: 20px;">
							{% for fm in tcfrv.mediaList %}
								{# 声音 #}
								{% if fm.mediaType == 2 %}
                                    {# 2019年5月14日10:08:10 pad端增加本地路径 mediaAbsoultePath #}
                                    {% if fm.mediaAbsoultePath %}
                                        <audio controls style="display:block;align:center;width:100%;height:26px;margin-bottom:15px;" id="_mp3_{{ forloop.counter0 }}" >
                                            <source src="{{ fm.mediaAbsoultePath }}{{ fm.dir }}" type="audio/mpeg">
                                            您的浏览器不支持 audio 元素。
                                        </audio>
                                    {% else %}
                                        <audio controls style="display:block;align:center;width:100%;height:26px;margin-bottom:15px;" id="_mp3_{{ forloop.counter0 }}" >
                                            <source src="{{ fm.downloadUrl }}" type="audio/mpeg">
                                            您的浏览器不支持 audio 元素。
                                        </audio>
                                    {% endif %}
									<!--<a style="display:block;align:center;width:100%;height:26px;margin-bottom:15px;" id="_mp3_{{ forloop.counter0 }}" class="mp3_" data-url="{{ fm.localPath }}"></a>-->
								{% endif %}
							{% endfor %}
						</div>

						<span class="col-lg-3 col-md-3" for="">视频：</span>
						<div class="col-lg-9 col-md-9">
							{% for fm in tcfrv.mediaList %}
								{# 视频 #}
								{% if fm.mediaType == 3 %}
                                    {% if fm.mediaAbsoultePath %}
                                        <video controls class="mp4_" style="display:block;align:center;width:100%;height:360px;margin-bottom:15px;" id="_mp4_{{ forloop.counter0 }}" >
                                            <source src="{{ fm.mediaAbsoultePath }}{{ fm.dir }}" type="video/mp4">
                                            您的浏览器不支持 video 标签。
                                        </video>
                                    {% else %}
                                        <video controls class="mp4_" style="display:block;align:center;width:100%;height:360px;margin-bottom:15px;" id="_mp4_{{ forloop.counter0 }}" >
                                            <source src="{{ fm.downloadUrl }}" type="video/mp4">
                                            您的浏览器不支持 video 标签。
                                        </video>
                                    {% endif %}


									<!--<a class="mp4_" style="display:block;align:center;width:100%;height:360px;margin-bottom:15px;" id="_mp4_{{ forloop.counter0 }}" href="{{ fm.localPath }}"></a>-->
								{% endif %}
							{% endfor %}
						</div>
					</script>
					<div hidden>
						
					</div>
				</div>
			{% endif %}
			<!-- media div end -->
            {% endfor %}
            <script type="text/javascript">
 
            $(function(){
            $.support.transition = false;
            
            $("div.ddmmyyStyle").each(function () {
            var ddmmyy = $(this).text();
            ddmmyy = new String(ddmmyy);
            if(ddmmyy&& ddmmyy.length==6){
            var _html =
            '<table style="width:80%;height:100%;line-height: 1.2;">';
            _html += '<tr style="color: black;"><td>D</td><td>D</td><td>M</td><td>M</td><td>Y</td><td>Y</td></tr>';
            _html += '<tr>' +
            '<td style="border-right: 1px solid black;">'+ddmmyy[0]+'</td>' +
            '<td style="border-right: 1px solid black;">'+ddmmyy[1]+'</td>' +
            '<td style="border-right: 1px solid black;">'+ddmmyy[2]+'</td>' +
            '<td style="border-right: 1px solid black;">'+ddmmyy[3]+'</td>' +
            '<td style="border-right: 1px solid black;">'+ddmmyy[4]+'</td>' +
            '<td style="border-right: 1px solid black;">'+ddmmyy[5]+'</td>' +
            '</tr>';
            _html +=
            '</table>';
            $(this).html(_html);
            }
            });
            
            $("table :input:visible").attr('readonly',true);
            
            $(".fault-cancel").each(function(){
				$(this).height($(this).parent(".faultReportDiv").height()-30);
            });
            });
            
            
            
            </script>
            <div id="oilDiv" class="oneLineDiv"   >
            <table class="" style="" border="1" >
            <tr >
            <td style="width:8.23%;" >
            <span>OIL REF.ENG</span><br>
            <span >发动机加滑油量</span>
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>1</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {{tlb_oil1.oilRefEngNo1}}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>2</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {{tlb_oil1.oilRefEngNo2}}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>3</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {% if tlb_oil1.oilRefEngNo3 %}
            {{tlb_oil1.oilRefEngNo3}}
            {% else %}
            /
            {% endif %}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>4</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {% if tlb_oil1.oilRefEngNo4 %}
            {{tlb_oil1.oilRefEngNo4}}
            {% else %}
            /
            {% endif %}
            </td>
            
            <td style="width: 7%">
            <div>APU HRS/CYC</div>
            <div>APU 时间/循环</div>
            </td>
            <td style="width: 4.8%" class="input-content" >
            {{tlb_oil1.apuHrs}}/
            {{tlb_oil1.apuCyc}}
            
            </td>
            
            <td style="width: 3.2%">
            <div>DATE</div>
            <div>日期</div>
            </td>
            <td style="width: 3.2%" class="input-content" pattern="MM-dd">
            {{tlb_oil1.oilRefEngDateStr}}
            </td>
            
            <td style="width: 3.2%">
            <div>STATION</div>
            <div>航站</div>
            </td>
            <td style="width: 3.2%" class="input-content" >
            {{tlb_oil1.station}}
            </td>
            
            <td style="width: 6.6%">
            <div>ID.NO.SIGN</div>
            <div>人员号 签名</div>
            </td>
            <td style="width: 7.6%" class="input-content" >
            <div>
            {% if tlb_oil1.oilRefEngItemSign %}
            {% if tlb_oil1.oilRefEngItemSign.signType == 1 %}
            <div>
            {{tlb_oil1.oilRefEngItemSign.employeeNo}}
            {{tlb_oil1.oilRefEngItemSign.employeeName}}
            </div>
            {% elif tlb_oil1.oilRefEngItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil1.oilRefEngItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_oil1.oilRefEngItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_oil1.oilRefEngItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil1.oilRefEngItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            
            {% if tlb_oil1.oilRefEng2ItemSign %}
            {% if tlb_oil1.oilRefEng2ItemSign.signType == 1 %}
            <div>
            {{tlb_oil1.oilRefEng2ItemSign.employeeNo}}
            {{tlb_oil1.oilRefEng2ItemSign.employeeName}}
            </div>
            {% elif tlb_oil1.oilRefEng2ItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil1.oilRefEng2ItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_oil1.oilRefEng2ItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_oil1.oilRefEng2ItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil1.oilRefEng2ItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            </div>
            </td>
            <td style="width: 0.4%;border:none;"></td>
            <td style="width: 3.35%">
            <div>APU</div>
            </td>
            <td style="width: 3.35%" class="input-content" >
            {{tlb_apu1.apuInput}}
            </td>
            
            <td style="width: 3.35%">
            <div>DATE</div>
            <div>日期</div>
            </td>
            <td style="width: 3.35%" class="input-content" pattern="MM-dd">
            {{tlb_apu1.apuDateStr}}
            </td>
            
            <td style="width: 3.35%">
            <div>STATION</div>
            <div>航站</div>
            </td>
            <td style="width: 3.35%" class="input-content" >
            {{tlb_apu1.station}}
            </td>
            
            <td style="width:6.65%">
            <div>ID.NO.SIGN</div>
            <div>人员号 签名</div>
            </td>
            <td style="width: 6.01%" class="input-content" >
            {% if tlb_apu1.apuItemSign %}
            {% if tlb_apu1.apuItemSign.signType == 1 %}
            <div>
            {{tlb_apu1.apuItemSign.employeeNo}}
            {{tlb_apu1.apuItemSign.employeeName}}
            </div>
            {% elif tlb_apu1.apuItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_apu1.apuItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_apu1.apuItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_apu1.apuItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_apu1.apuItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            </td>
            </tr>
            </table>
            
            <table style="" border="1" >
            <tr >
            <td style="width: 8.2%;" >
            <span>OIL REF.ENG</span><br>
            <span >发动机加滑油量</span>
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>1</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {{tlb_oil2.oilRefEngNo1}}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>2</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {{tlb_oil2.oilRefEngNo2}}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>3</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {% if tlb_oil2.oilRefEngNo3 %}
            {{tlb_oil2.oilRefEngNo3}}
            {% else %}
            /
            {% endif %}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>4</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {% if tlb_oil2.oilRefEngNo4 %}
            {{tlb_oil2.oilRefEngNo4}}
            {% else %}
            /
            {% endif %}
            </td>
            
            <td style="width: 7%">
            <div>APU HRS/CYC</div>
            <div>APU 时间/循环</div>
            </td>
            <td style="width: 4.8%" class="input-content" >
            {{tlb_oil2.apuHrs}}/
            {{tlb_oil2.apuCyc}}
            </td>
            
            <td style="width: 3.2%">
            <div>DATE</div>
            <div>日期</div>
            </td>
            <td style="width: 3.2%" class="input-content" pattern="MM-dd">
            {{tlb_oil2.oilRefEngDateStr}}
            </td>
            
            <td style="width: 3.2%">
            <div>STATION</div>
            <div>航站</div>
            </td>
            <td style="width: 3.2%" class="input-content" >
            {{tlb_oil2.station}}
            </td>
            
            <td style="width: 6.6%">
            <div>ID.NO.SIGN</div>
            <div>人员号 签名</div>
            </td>
            <td style="width: 7.5%" class="input-content" >
            <div>
            {% if tlb_oil2.oilRefEngItemSign %}
            {% if tlb_oil2.oilRefEngItemSign.signType == 1 %}
            <div>
            {{tlb_oil2.oilRefEngItemSign.employeeNo}}
            {{tlb_oil2.oilRefEngItemSign.employeeName}}
            </div>
            {% elif tlb_oil2.oilRefEngItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil2.oilRefEngItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_oil2.oilRefEngItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_oil2.oilRefEngItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil2.oilRefEngItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            
            {% if tlb_oil2.oilRefEng2ItemSign %}
            {% if tlb_oil2.oilRefEng2ItemSign.signType == 1 %}
            <div>
            {{tlb_oil2.oilRefEng2ItemSign.employeeNo}}
            {{tlb_oil2.oilRefEng2ItemSign.employeeName}}
            </div>
            {% elif tlb_oil2.oilRefEng2ItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil2.oilRefEng2ItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_oil2.oilRefEng2ItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_oil2.oilRefEng2ItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil2.oilRefEng2ItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            </div>
            </td>
            <td style="width: 0.4%;border:none;"></td>
            <td style="width: 3.35%">
            <div>APU</div>
            </td>
            <td style="width: 3.35%" class="input-content" >
            {{tlb_apu2.apuInput}}
            </td>
            
            <td style="width: 3.35%">
            <div>DATE</div>
            <div>日期</div>
            </td>
            <td style="width: 3.35%" class="input-content" pattern="MM-dd">
            {{tlb_apu2.apuDateStr}}
            </td>
            
            <td style="width: 3.35%">
            <div>STATION</div>
            <div>航站</div>
            </td>
            <td style="width: 3.35%" class="input-content" >
            {{tlb_apu2.station}}
            </td>
            
            <td style="width:6.65%">
            <div>ID.NO.SIGN</div>
            <div>人员号 签名</div>
            </td>
            <td style="width: 6.01%" class="input-content" >
            {% if tlb_apu2.apuItemSign %}
            {% if tlb_apu2.apuItemSign.signType == 1 %}
            <div>
            {{tlb_apu2.apuItemSign.employeeNo}}
            {{tlb_apu2.apuItemSign.employeeName}}
            </div>
            {% elif tlb_apu2.apuItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_apu2.apuItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_apu2.apuItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_apu2.apuItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_apu2.apuItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            </td>
            </tr>
            </table>
            
            <table style="" border="1" >
            <tr >
            <td style="width: 8.2%;" >
            <span>OIL REF.ENG</span><br>
            <span >发动机加滑油量</span>
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>1</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {{tlb_oil3.oilRefEngNo1}}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>2</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {{tlb_oil3.oilRefEngNo2}}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>3</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {% if tlb_oil3.oilRefEngNo3 %}
            {{tlb_oil3.oilRefEngNo3}}
            {% else %}
            /
            {% endif %}
            </td>
            <td style="width:2%">
            <div>NO</div>
            <div>4</div>
            </td>
            <td style="width:3.1%" class="input-content" >
            {% if tlb_oil3.oilRefEngNo4 %}
            {{tlb_oil3.oilRefEngNo4}}
            {% else %}
            /
            {% endif %}
            </td>
            
            <td style="width: 7%">
            <div>APU HRS/CYC</div>
            <div>APU 时间/循环</div>
            </td>
            <td style="width: 4.8%" class="input-content" >
            {{tlb_oil3.apuHrs}}/
            {{tlb_oil3.apuCyc}}
            
            </td>
            
            <td style="width: 3.2%">
            <div>DATE</div>
            <div>日期</div>
            </td>
            <td style="width: 3.2%" class="input-content" pattern="MM-dd">
            {{tlb_oil3.oilRefEngDateStr}}
            </td>
            
            <td style="width: 3.2%">
            <div>STATION</div>
            <div>航站</div>
            </td>
            <td style="width: 3.2%" class="input-content" >
            {{tlb_oil3.station}}
            </td>
            
            <td style="width: 6.6%">
            <div>ID.NO.SIGN</div>
            <div>人员号 签名</div>
            </td>
            <td style="width: 7.6%" class="input-content" >
            <div>
            {% if tlb_oil3.oilRefEngItemSign %}
            {% if tlb_oil3.oilRefEngItemSign.signType == 1 %}
            <div>
            {{tlb_oil3.oilRefEngItemSignemployeeNo}}
            {{tlb_oil3.oilRefEngItemSignemployeeName}}
            </div>
            {% elif tlb_oil3.oilRefEngItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil3.oilRefEngItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_oil3.oilRefEngItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_oil3.oilRefEngItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil3.oilRefEngItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            
            {% if tlb_oil3.oilRefEng2ItemSign %}
            {% if tlb_oil3.oilRefEng2ItemSign.signType == 1 %}
            <div>
            {{tlb_oil3.oilRefEng2ItemSign.employeeNo}}
            {{tlb_oil3.oilRefEng2ItemSign.employeeName}}
            </div>
            {% elif tlb_oil3.oilRefEng2ItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil3.oilRefEng2ItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_oil3.oilRefEng2ItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_oil3.oilRefEng2ItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_oil3.oilRefEng2ItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            </div>
            
            </td>
            <td style="width: 0.4%;border:none;"></td>
            
            <td style="width: 3.35%">
            <div>HYDR</div>
            <div>液力油</div>
            </td>
            <td style="width: 3.35%" class="input-content" >
            {{tlb_hydr.hydr}}
            </td>
            
            <td style="width: 3.35%">
            <div>DATE</div>
            <div>日期</div>
            </td>
            <td style="width: 3.35%" class="input-content" pattern="MM-dd">
            {{tlb_hydr.hydrDateStr}}
            </td>
            
            <td style="width: 3.35%">
            <div>STATION</div>
            <div>航站</div>
            </td>
            <td style="width: 3.35%" class="input-content" >
            {{tlb_hydr.station}}
            </td>
            
            <td style="width:6.65%">
            <div>ID.NO.SIGN</div>
            <div>人员号 签名</div>
            </td>
            <td style="width: 6.01%" class="input-content" >
            {% if tlb_hydr.hydrItemSign %}
            {% if tlb_hydr.hydrItemSign.signType == 1 %}
            <div>
            {{tlb_hydr.hydrItemSign.employeeNo}}
            {{tlb_hydr.hydrItemSign.employeeName}}
            </div>
            {% elif tlb_hydr.hydrItemSign.signType == 2 %}
            <div>
            <div class="">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_hydr.hydrItemSign.signPictureBase64}}"/>
            </div>
            </div>
            {% elif tlb_hydr.hydrItemSign.signType == 3 %}
            <div class="col-16-8">
            {{tlb_hydr.hydrItemSign.employeeNo}}
            </div>
            <div class="col-16-8">
            <img style="" class="center-block img-responsive"
            src="data:image/png;base64,{{tlb_hydr.hydrItemSign.signPictureBase64}}"/>
            </div>
            {% endif %}
            {% endif %}
            </td>
            </tr>
            </table>
            </div>
            
            
            
            <div  class="oneLineDiv">
				<table style="height:30px;min-height:30px;width:100%;min-width:100%;float:left;margin-top: 3px;" border="1" >
					<tr>
						<td style="width: 2.77777777%">21</td>
						<td style="width: 2.77777777%">22</td>
						<td style="width: 2.77777777%">23</td>
						<td style="width: 2.77777777%">24</td>
						<td style="width: 2.77777777%">25</td>
						<td style="width: 2.77777777%">26</td>
						<td style="width: 2.77777777%">27</td>
						<td style="width: 2.77777777%">28</td>
						<td style="width: 2.77777777%">29</td>
						<td style="width: 2.77777777%">30</td>
						<td style="width: 2.77777777%">31</td>
						<td style="width: 2.77777777%">32A</td>
						<td style="width: 2.77777777%">32B</td>
						<td style="width: 2.77777777%">33</td>
						<td style="width: 2.77777777%">34</td>
						<td style="width: 2.77777777%">35</td>
						<td style="width: 2.77777777%">36</td>
						<td style="width: 2.77777777%">38</td>
						<td style="width: 2.77777777%">49</td>
						<td style="width: 2.77777777%">51</td>
						<td style="width: 2.77777777%">52</td>
						<td style="width: 2.77777777%">53</td>
						<td style="width: 2.77777777%">54</td>
						<td style="width: 2.77777777%">55</td>
						<td style="width: 2.77777777%">56</td>
						<td style="width: 2.77777777%">57</td>
						<td style="width: 2.77777777%">71</td>
						<td style="width: 2.77777777%">72</td>
						<td style="width: 2.77777777%">73</td>
						<td style="width: 2.77777777%">74</td>
						<td style="width: 2.77777777%">75</td>
						<td style="width: 2.77777777%">76</td>
						<td style="width: 2.77777777%">77</td>
						<td style="width: 2.77777777%">78</td>
						<td style="width: 2.77777777%">79</td>
						<td style="width: 2.77777777%">80</td>
					</tr>
				</table>
            </div>
            
            
            <div id="showHistoryModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" style="width: 100%;" role="document">
					<div class="modal-content">
						<div class="modal-body">
						
						</div>
					
						<div class="modal-footer" style="text-align: center;">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
            </div>

			<div id="mediaModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" style="width: 100%;" role="document">
					<div class="modal-content">
						<div class="modal-body">

						</div>

						<div class="modal-footer" style="text-align: center;">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
            
            <script type="text/javascript">
            $(function(){
				$("body").on("click",".action-double-check",function (e) {
					var $this = $(this);
					var $parent = $this.closest(".hand-action");
					var dataArr = [];
					$parent.find(".action-p").each(function() {
						var obj = {
						id: $(this).data("id"),
						version: $(this).data("version"),
						};
						dataArr.push(obj);
					});
				});
            
				$("body").on("click",".eng-oil-double-check",function (e) {
					var techLogBookId = $(this).data("tech-log-book-id");
					var haveSignedUserId = $(this).data("have-signed-user-id");
				});
            
            
            
            
            
				//        var offset = $("#1dd49fe75555439c8a1e65ea251478d9").offset();
				//        console.log(offset);
				//        offset.top = offset.top+20;
				//        $("#div755325e7c5814c52b145d160e185e0df").removeClass("hidden").css("background-color","white").offset(offset);
				//
				
				//故障报告历史显示
				window.setTimeout(function(){ //等待其他内容填充完毕
					var btnHtml = '<button ' +
					'style="padding:6px 2px; position: absolute;height: 170px;' +
					'filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6; ' +
					'background-color:#fffc00;border-top-left-radius:20px;' +
					'border-bottom-left-radius:20px;" ' +
					'type="button" class="btn btn-default show-history-btn" >'
					+'<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>';
					
					
					//btn  width 20 ,height 160
					
					/**插入故障报告的历史按钮*****/
					var currentFaultReportMap = {
					
					};
					$("div.currentFaultReportDiv").each(function(){
					currentFaultReportMap[$(this).attr("fault-report-id")] = $(this).attr("identifier");
					});
				
					$("button.show-history-btn").remove();
					for(var id in currentFaultReportMap){
						if(!id) continue;
						var identifier = currentFaultReportMap[id];
						if(!$("div.faultReportDivHistory[identifier='"+identifier+"']").length){
							continue;
						}
				
						var $currentFaultReportDiv = $("div.currentFaultReportDiv[fault-report-id="+id+"]");
						var offset = $currentFaultReportDiv.offset();
						if(!offset) continue;
						var cWidth = $currentFaultReportDiv.outerWidth();
						var cHeight = $currentFaultReportDiv.outerHeight();
						var $btn = $(btnHtml);
						var btnTop = offset.top+(cHeight-170)/2;
						var btnLeft = offset.left+cWidth-20;
						$btn.css({top:btnTop,left:btnLeft})
						.data("identifier",identifier)
						.data("history-btn-type",'report')
						.appendTo("body");
				
					}
					/**插入故障报告的历史按钮--END*****/
					/**插入放行的历史按钮*****/
					if($("#releaseHistoryDiv table").length){
						var $currentDiv = $("#releaseDiv");
						var offset = $currentDiv.offset();
						
						var cWidth = $currentDiv.outerWidth();
						var cHeight = $currentDiv.outerHeight();
						var $btn = $(btnHtml);
						var btnTop = offset.top+(cHeight-140)/2;
						var btnLeft = offset.left+cWidth-20;
						$btn.css({top:btnTop,left:btnLeft,height:'140px'})
						.data("history-btn-type",'release')
						.appendTo("body");
					}
				
					/**插入放行的历史按钮--END*****/
					/**插入油液的历史按钮*****/
					if($("#oilHistoryDiv table").length){
						var $currentDiv = $("#oilDiv");
						var offset = $currentDiv.offset();
						
						var cWidth = $currentDiv.outerWidth();
						var cHeight = $currentDiv.outerHeight();
						var $btn = $(btnHtml);
						var btnTop = offset.top+(cHeight-80)/2;
						var btnLeft = offset.left+cWidth-20;
						$btn.css({top:btnTop,left:btnLeft,height:'80px'})
						.data("history-btn-type",'oil')
						.appendTo("body");
					}
					/**插入油液的历史按钮--END*****/
				},400);
            
				$("body").off("click","button.show-history-btn").on("click","button.show-history-btn",function () {
					var type = $(this).data("history-btn-type");
					if(type=='release'){
						$("#showHistoryModal .modal-body").html("");
						$("#releaseHistoryDiv").clone()
						.removeClass("hidden").appendTo("#showHistoryModal .modal-body");
						$("#showHistoryModal").modal("show");
					}else if(type=='report'){
						var identifier = $(this).data("identifier");
						$("#showHistoryModal .modal-body").html("");
						$("div.faultReportDivHistory[identifier='"+identifier+"']").clone()
						.removeClass("hidden").appendTo("#showHistoryModal .modal-body");
						$("#showHistoryModal").modal("show");
						}else if(type=='oil'){
						$("#showHistoryModal .modal-body").html("");
						$("#oilHistoryDiv").clone()
						.removeClass("hidden").appendTo("#showHistoryModal .modal-body");
						$("#showHistoryModal").modal("show");
					}
            
				});
            
            
            
				$('#button_goBack').click(function(){
					window.close();
				});
            
				//=================end=====================
				$("table :input:visible").attr('readonly',true);

				//附件
				$("body").off("click",".fault-media").on("click",".fault-media",function () {
					var $this = $(this);
					$("#mediaModal .modal-body").html($("#"+$this.data("tpl")).html());

					$("#mediaModal").modal("show");
					/*
					if($("#mediaModal").find(".mp4_").length>0){
						$("#mediaModal").find(".mp4_").each(function(index,element){
							flowplayer(element.id, "static/tools/flowplayer-3.2.18.swf",{
								clip : {
									autoPlay: false,
									autoBuffering: true
								}
							});
						});
					}
					if($("#mediaModal").find(".mp3_").length>0){
						$("#mediaModal").find(".mp3_").each(function(index,element){
							flowplayer(element.id, "static/tools/flowplayer-3.2.18.swf", {
								clip: {
									url: $(this).data("url"),
									provider: "audio",
									autoPlay: false
								},
								plugins: {
									audio: {
										url: 'static/tools/flowplayer.audio-3.2.11.swf'
									},
									controls: {
										fullscreen: false,
										autoHide: false
									}
								}
							});
						});
					}
					*/
				});
			});
            
				
            
            </script>
            </body>
            </html>
            
